<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>요기보코리아</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Vendor CSS Files -->
  <link href="https://yogibo.kr/yogibo/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://yogibo.kr/yogibo/assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!--폰트 family-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="https://yogibo.kr/yogibo/assets/css/style.css" rel="stylesheet">
<style>
    body{font-family: 'Noto Sans KR', sans-serif;color:#111;}
    .sidebar-nav .nav-link{color:#111;}
    .nav-link{color:#111!important;font-weight:500!important;}
</style>
  


  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<body>
    <style>
        ul li{list-style:none;}
        .card{border-radius:0px;}
    </style>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="https://yogibo.kr/yogico/img/icon/symbol.png" alt="">
        <span class="d-none d-lg-block"><img src="https://yogibo.kr/yogico/img/icon/Signature03.png "  style="width:120px;max-height:35px;"alt=""></span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <% if(isLoggedin) { %>
            <img src="https://yogibo.kr/web/img/icon/main_logo.png" alt="Profile" >
            <span class="d-none d-md-block dropdown-toggle ps-2"><%= user.id %></span>
            <% } else { %>
              <i class="bi bi-person-circle"></i>
              <span class="d-none d-md-block dropdown-toggle ps-2">로그인하기</span>
            <% } %>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

            <% if(isLoggedin) { %>
                <li class="dropdown-header">
                    <h6><%= user.id %></h6>
                    <span><%= user.content %></span>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/mypage">
                      <i class="bi bi-person"></i>
                      <span>마이페이지</span>
                    </a>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><form action="/logout" method="post"><button type="submit" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> <span>logout</span></button></form></li>                 
                <% } else { %>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/login">
                      <i class="bi bi-person-square"></i>
                      <span>login</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item d-flex align-items-center" href="/join">
                      <i class="bi bi-person-vcard"></i>
                      <span>회원가입</span>
                    </a>
                  </li>                
                <% } %>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Yogicorporation</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/mypage">
          <i class="bi bi-person"></i>
          <span>프로필</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/master">
          <i class="bi bi-card-checklist"></i>
          <span>주문서확인</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/store/order">
          <i class="bi bi-envelope"></i>
          <span>고객주문서</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <% if(isLoggedin) { %>
        <li class="nav-item">
            <form action="/logout" method="post"class="nav-link collapsed"><button type="submit" class="" style="border:none;background:none;margin:0;padding:0;"><i class="bi bi-box-arrow-in-left"></i></i><span>Logout</span></button></form>
        </li><!-- End Login Page Nav -->
        <% } else { %>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/login">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->
      <% } %>

      <li class="nav-item">
        <a class="nav-link collapsed" href="/member">
          <span><i class="bi bi-person-fill-add"></i>매장관리</span>
        </a>
      </li>

    </ul>

  </aside><!-- End Sidebar-->

  <form action="/logout" method="post"><button type="submit" class="dropdown-item"><i class="bi bi-box-arrow-right"></i>Logout</button></form>