
<style>
    a:hover{text-decoration:none;}
    .navbar{height:77x;}
    .navbar-brand{text-align:center;width:100%;}
    .container{padding-bottom:40px;}
  body{background:#f6f9ff}
    nav{
      transition: all 0.5s;
      z-index: 997;
      height: 60px;
      box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
      background-color: #fff;
      padding-left: 20px;
  }
  
  .navbar {
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .navbar .logo img {
      max-height: 26px;
  }
  
  .navbar .logo span.d-none.d-lg-block img {
      width: 120px;
      max-height: 35px;
  }
  
  
  </style>
  <nav class="navbar" style="background:#fff;">
      <a href="#" class="logo d-flex align-items-center">
        <img src="https://yogibo.kr/yogico/img/icon/symbol.png" alt="" style=" max-height: 26px;">&nbsp;
        <span class="d-none d-lg-block"><img src="https://yogibo.kr/yogico/img/icon/Signature03.png " style="width:120px;max-height:35px;" alt=""></span>
      </a>
  </nav>
  
  